<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PUCFLIX</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <div id="player">
        <h4>
            <i class="material-icons">equalizer</i> PucFlix </h4>
            <div class="card">
                <div class="card-image">
                    <div class="card-image-content">

                    </div>
                    <div class="row valign-wrapper">
                        <a href="#" class="btn-floating btn-large halfway-fab">
                            <i class="material-icons" id="play-pause">play_arrow</i>
                        </a>

                            <div class="col s2" id="current-duration">00:00</div>
    
                            <div class="col s6 range-field valign-wrapper">
                                <input type="range" min="0" step="1" id="seek-bar">
                            </div>
                            <div class="col s2" id="total-duration">00:00</div>
                            <div>
                                <a href="#">
                                    <i class="material-icons" id="volume">volume_up</i>
                                </a>      
                            </div>
                            <div class="col s3 range-field valign-wrapper">
                                <input type="range" min=0 max=100 step="1" id="volume-control">
                            </div>
                            <div>
                                <a href="#">
                                    <i class="material-icons" id="fullscreen">fullscreen</i>
                                </a>      
                            </div>
                        </div>
                </div>
                <div class="card-content">
                    <h5>Title</h5>
                    <p class="producer">Producer</p>
 
                    
                </div>              
            </div>
    </div>  
    <script src="javascripts/index.js" type="module"></script>
</body>
</html>