<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PUCFLIX - Home</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>

    <div class="card-video">

        <div class="title">
            <div class="sub-title">
                <i class="material-icons">equalizer</i> PucFlix</h4>
            </div>
            <div class="sub-title" id="search-div">
                <label for="search"></label><input type="text" placeholder="Pesquisar..." id="search" maxlength="100">
                <span id="error-msg">Estamos implementando. Perdão! :(</span>
            </div>
        </div>

        <div class="row" id="home"></div>

    </div>

    <script src="javascripts/home.js" type="module"></script>

</body>
</html>